@*<div class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="text col-lg-4">
                <p>Copyright © 2023 <span>ADVENTURE HUB</span> All rights reserved</p>
            </div>
            <div class="icone col-lg-4">
                <i class="fab fa-twitter" style="background-color: #49a7ef;"></i>
                <i class="fab fa-facebook-f" style="background-color: #4253a3;"></i>
                <i class="fab fa-google-plus-g" style="background-color: #e54430"></i>
                <i class="fab fa-pinterest-p" style="background-color: #e54430"></i>
                <i class="fab fa-instagram" style="background-color: #4074a3"></i>
            </div>
            <div class="info col-lg-4">
                <p>Design By <span>ADVENTURE HUB </span></p>
            </div>
        </div>
    </div>
</div>*@



 <div class="footer pt-4 pb-2 text-white-50 text-md-start">
      <div class="container">
          <div class="row">
              <div class="col-md-6 col-lg-8">
                  <div class="info">
                    <div class="copyright">
                      Created By <span>Graphberry</span>
                      <div>&copy; 2022 - <span>crazy trip</span></div>
                  </div>
                  </div>
              </div>
              <div class="col-md-6 col-lg-4">
                  <div class="contact">
                      <ul class="d-flex list-unstyled gap-3">
                          <li>
                              <a class="d-block text-light" href="#">
                                  <i class="fa-brands fa-facebook fa-lg facebook rounded-circle p-2"></i>
                              </a>
                          </li>
                          <li>
                              <a class="d-block text-light" href="#">
                                  <i class="fa-brands fa-twitter fa-lg twitter rounded-circle p-2"></i>
                              </a>
                          </li>
                          <li>
                              <a class="d-block text-light" href="#">
                                  <i class="fa-brands fa-linkedin fa-lg linkedin rounded-circle p-2"></i>
                              </a>
                          </li>
                          <li>
                              <a class="d-block text-light" href="#">
                                  <i class="fa-brands fa-youtube fa-lg youtube rounded-circle p-2"></i>
                              </a>
                          </li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>
  </div>